[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "stduuid"]
	path = stduuid
	url = https://github.com/mariusbancila/stduuid
